name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
    - name: Build package
      run: python -m build
    
    # Agregar aprobación manual
    - name: Request Approval
      if: always() # Este paso se ejecutará siempre, pero esperará aprobación manual
      uses: actions/github-script@v6
      with:
        script: |
          const { data: pulls } = await github.pulls.list({
            owner: context.repo.owner,
            repo: context.repo.repo,
            state: 'open',
          });
          
          // El primer pull request abierto se utilizará para solicitar la aprobación
          if (pulls.length > 0) {
            await github.pulls.createReview({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: pulls[0].number,
              event: 'APPROVE',
            });
          }

    - name: Publish package
      uses: pypa/gh-action-pypi-publish@27b31702a0e7fc50959f5ad993c78deac1bdfc29
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}

